<html ng-app>
<head>
	<title></title>
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/angular.min.js"></script>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css">
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/client.js"></script>


</head>
<body>
	<div class="row">
		<div class="col-md-6 col-md-offset-1">
			<br />
			<div class="list-group" id="playlist" ng-controller="playlistController">
				<!--add class active-->
				<a id="{{item.Pos}}" ng-repeat="item in innerList | orderBy:'Pos'" data-item="{{item.Pos}}" ng-click="playItem(item.Pos)" class="list-group-item">{{item.Artist}} - {{item.Title}}</a>
			</div>
		</div>
		<div class="col-md-4">
			<br />
			<div class="text-center">
   				<div class="btn-group btn-group-lg">
   					<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-fast-backward"></span> Prev</button>
					<button type="button" class="btn btn-default">Toggle</button>
					<button type="button" class="btn btn-default">Next <span class="glyphicon glyphicon-fast-forward"></span></button>
   				</div>
			</div>
		</div>
	</div>
</body>
</html>